/Biodata/nbproject/private/
/JavaAPIArdan/nbproject/private/
/PercobaanGUI/nbproject/private/
/SinauLur/nbproject/private/
/SinauLur/build/
/kuis2/nbproject/private/
/kuis2/build/
/UnitTest/nbproject/private/
/UnitTest/build/
/ProjectAkhir/nbproject/private/
/ProjectAkhir/build/
/ProjectAkhir - Copy/build/
/ProjectAkhir - Copy/nbproject/private/
/ProjectAkhir2/build/
/ProjectAkhir2/nbproject/private/
/ProjectAkhirBeta/nbproject/private/